/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
/*@import "normalize";*/
/*@import "normalize";*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "forte";
  src: url("../fuentes/FORTE.TTF");
}
@font-face {
  font-family: "angrybirds";
  src: url("../fuentes/angrybirds-regular.ttf");
}
@font-face {
  font-family: "IndieFlower";
  src: url("../fuentes/IndieFlower.otf");
}
a {
  font-size: 0.9em;
  font-family: "IndieFlower";
  font-weight: bold;
  text-align: center;
  margin: 1px 10px;
}

h1 {
  font-size: 1.6em;
  font-family: "tahoma";
  color: #069;
  font-weight: bold;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: #fff;
  width: 100%;
  padding: 2px;
  -moz-border-radius: 20px 10px 100px 0px;
  -webkit-border-radius: 20px;
  border-radius: 20px 10px 100px 0px;
  -moz-box-shadow: 2px 2px 3px rgba(240, 0, 180, 0.75);
  -webkit-box-shadow: 2px 2px 3px rgba(240, 0, 180, 0.75);
  box-shadow: 2px 2px 3px rgba(240, 0, 180, 0.75);
  -moz-transition-property: font-size, border, border-radius, box-shadow;
  -o-transition-property: font-size, border, border-radius, box-shadow;
  -webkit-transition-property: font-size, border, border-radius, box-shadow;
  transition-property: font-size, border, border-radius, box-shadow;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#panelInfoMusic {
  border: 0px solid red;
  height: 1rem;
  color: navy;
  padding: 1px;
}

#panelInfoMusic2 {
  color: green;
  height: 1rem;
  border: 0px solid blue;
  padding: 1px;
}

#capaSliderTime {
  width: 90%;
  border: 0px solid red;
}

#sliderTime {
  padding: 1px;
  width: 96%;
}

#listadoTemasDescarga {
  /*height:1rem;*/
  overflow: auto;
  border: 0px solid navy;
  padding: 1px;
  text-align: center;
}

#listadoTemasDescarga a.enlaces-temas:link {
  color: navy;
}

/*
    Created on : 08-abr-2020
    Author     : Dani de Saro
*/
#panelInfoMusic {
  border: 0px solid red;
  height: 1rem;
  color: navy;
  padding: 1px;
}

#panelInfoMusic2 {
  color: green;
  height: 1rem;
  border: 0px solid blue;
  padding: 1px;
}

#capaSliderTime {
  width: 90%;
  border: 0px solid red;
}

#sliderTime {
  padding: 1px;
  width: 96%;
}

#listadoTemasDescarga {
  /*height:1rem;*/
  overflow: auto;
  border: 0px solid navy;
  padding: 1px;
  text-align: center;
}
#listadoTemasDescarga a.enlaces-temas:link {
  color: navy;
}

#content2 {
  width: 17rem;
  height: 13rem;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 10px;
  margin: 3px;
  outline: 0px darkcyan solid;
  -moz-border-radius: 0px 0px 20px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 20px 0px;
  -moz-transition-property: box-shadow, background, color;
  -o-transition-property: box-shadow, background, color;
  -webkit-transition-property: box-shadow, background, color;
  transition-property: box-shadow, background, color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
}

#content2:hover {
  height: auto;
  -moz-box-shadow: inset 2px 2px 20px rgba(90, 90, 90, 0.75);
  -webkit-box-shadow: inset 2px 2px 20px rgba(90, 90, 90, 0.75);
  box-shadow: inset 2px 2px 20px rgba(90, 90, 90, 0.75);
  border: 2px groove silver;
  color: purple;
  background-color: #f0f0f0;
}
