/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
/*@import "normalize";*/
@import "compass";
/*@import "normalize";*/
@import "variables";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/flexbox";
@import "compass/css3/flexbox";
@import "compass/css3/transform";
@import "compass/css3/animation";
@import "compass/css3/font-face";

@import "compass/utilities/color/contrast";
@import "compass/typography/text/ellipsis";



@font-face {
	font-family: "forte";
	src: url('../fuentes/FORTE.TTF');
}
@font-face {
	font-family: "angrybirds";
	src: url('../fuentes/angrybirds-regular.ttf');
}
@font-face {
	font-family: "IndieFlower";
	src: url('../fuentes/IndieFlower.otf');
}





a {
    font-size:0.9em;
font-family: "IndieFlower";
font-weight: bold;
text-align: center;
margin:1px 10px;

}
a:active,
    a:hover {

}
a {

}
a:hover {

}

h1{
    font-size:1.6em;
    font-family: "tahoma";
    color:$colorCorp;
    font-weight:bold;
    padding:10px;

@include ellipsis($no-wrap: true);
background-color:contrast-color($color1_o);
width:100%;
padding:2px;
@include border-radius(20px 10px 100px 0px);
@include box-shadow( 2px 2px 3px rgba(240,0,180,0.75));
@include transition-property(font-size,border,border-radius,box-shadow);
@include transition-duration(1.0s);
}
#panelInfoMusic {
  border: 0px solid red;
  height: 1rem;
  color: navy;
  padding: 1px;
}

#panelInfoMusic2 {
  color: green;
  height: 1rem;
  border: 0px solid blue;
  padding: 1px;
}

#capaSliderTime {
  width: 90%;
  border: 0px solid red;
}

#sliderTime {
  padding: 1px;
  width: 96%;
}

#listadoTemasDescarga {
  /*height:1rem;*/
  overflow: auto;
  border: 0px solid navy;
  padding: 1px;
  text-align: center;
}
#listadoTemasDescarga a.enlaces-temas:link {
  color: navy;
}

/*
    Created on : 08-abr-2020
    Author     : Dani de Saro
*/
#panelInfoMusic{
border:0px solid red;
height:1rem;
color:navy;
padding:1px;
}
#panelInfoMusic2{
color:green;
height:1rem;
border:0px solid blue;
padding:1px;
}
#capaSliderTime{
width:90%;
border:0px solid red;
}
#sliderTime{
padding:1px;
width:96%;

}
#listadoTemasDescarga{
/*height:1rem;*/
overflow:auto;
border:0px solid navy;
padding:1px;
text-align:center;
a.enlaces-temas:link{
color:navy;
}
}
#content2{
    width:17rem;
  //  height:auto;
height:13rem;
    font-size:0.9em;
    line-height:1.3em;
    padding:10px;
margin:3px;
    outline: 0px darkcyan solid;
     @include border-radius(0px 0px 20px 0px);
     @include transition-property(box-shadow,background,color);
@include transition-duration(0.5s);
overflow:hidden;

}
#content2:hover{
height:auto;
    @include box-shadow(inset 2px 2px 20px rgba(90,90,90,0.75) );
    border:2px groove silver;
    color:purple;
        background-color:#f0f0f0;
}
